body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}
.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

.header_log {
    background: #e6e0e0;
    padding: 0;
    margin: 0;
    min-height: auto;
}

.login_nav{
    padding: 8px 15px;
    list-style: none;
    float: right;
    margin:0;
    display: inline-flex;
}
.login_nav li {
    margin-left: 20px;

}
.login_nav li span{
    padding: 5px;
}

.navbar-brand {
  padding: 0!important;
}

.navbar-default {
  background: linear-gradient(to right,#d2f9d2, rgba(82, 198, 164, 0.82) 100%);
  border-color: #fffefe;
  top: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  border-bottom: 2px solid;
  border-color: #e7e7e7;
  background: none;
}
.navbar-default .navbar-nav>li>a {
  color: #555;
  font-size: 15px;
}
.navbar-default .navbar-nav>li>a:hover {
  border-bottom: 2px solid;
  border-color: #e7e7e7;
}

.login_text span{
  padding: 5px;
}
.login_text{
  color: #555;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}

.intro-section {
  height: auto;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.intro-section  h2{
  text-shadow: #a5a2a2 3px 1px 2px;
}
.services-section {
  height: auto;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}
.services-section h2{
  text-shadow: #a6c1a6 3px 1px 2px;
}
.forum-section {
  height: auto;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.forum-section  h2{
  text-shadow: #a5a2a2 3px 1px 2px;
}
.about-section {
  height: auto;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee;
}
.about-section h2{
  text-shadow: #a6c1a6 3px 1px 2px;
}
.contact-section {
  height: auto;
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.contact-section  h2{
  text-shadow: #a5a2a2 3px 1px 2px;
}

.btn-down{
  bottom: 0;
  position: absolute;
  display: block;
  left: 50%;
  z-index: 3;
}

.btn-down a span{
  font-size:50px;
  color:#43a286;
}

.btn-down a span:hover,.btn-down a span:focus, .btn-down a span:active{
  color: #847777;;
}

.btn-up{
  bottom: 0;
  right: 0;
  position: fixed;
  display: block;
  float: right;
  z-index: 3;
}

.btn-up a span{
  font-size:40px;
  color:#43a286;
  padding: 10px;
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s;
}

.tv .screen.active {
  opacity: 1;
}

.left-icon{
  float: left;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 3;
  margin: 20px;
}

.left-icon span{
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 2px #555;
}

.hidden {
  display: none;
}

section hr
{
  border-top: #bcf0cb 2px solid;
  width: 400px;
}

.forum-wrap{
  position: relative;
  display: block;
  background: #afeac736;
  width: 100%;
  height: 450px;
  border-radius: 50%;
  z-index: 4;
  margin-bottom: 50px;
}

.services-wrap{
  position: relative;
  display: block;
  background: #afeac736;
  width: 100%;
  height: 450px;
  border-radius:50px;
  z-index: 4;
  margin-bottom: 50px;
}

.btn_send{
  float:right; 
  margin-right: 28px;
}

.thumb_border{
  height: auto;
  width: auto;
  border: solid 2px #333;
  border-radius: 50%;
  position: absolute;
}

.thumb{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.u-row{
  padding: 12px 25px 0px 0px;
  height: auto;
  width: auto;
  position: relative;
  display: block;

}
.text-thumb{
  margin-left: 70px;
  display: inline-block;
  font-weight: 600;
}

.text-comment{
  margin-left: 70px;
  display: inline-block;
  margin: 0px 0px 0px 70px; 
  width: 264px;
  height: 54px;
  font-size: 12px;
}

#forum textarea{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


#forum textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;

}

.comment-user{
  margin: 0px; 
  height: 158px; 
  width: 333px; 
  padding: 10px;
}


section#contact {
    background-color: transparent;
    background-image: url('/imgs/contact_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #1ee2e7;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}


.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e6e3e3d9;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f5f0f0ab;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #95dfbf;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #bcf0cb;
}


/* Clearfix  */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.grid img{
  background-size: 100% 100%;
}

#services .container {
  margin: 0 auto;
}

.gallery {
  max-width: 100%;
}
.gallery .grid {
  float: left;
}
@media (min-width: 808.8px) {
  .gallery .grid {
    width: 31.66667%;
    padding: 0 2.5% 2.5% 0;
  }
  .gallery .grid:nth-child(3n+3) {
    padding-right: 0;
  }
}
@media (max-width: 808.8px) {
  .gallery .grid {
    width: 48.5%;
    padding: 0 3% 3% 0;
  }
  .gallery .grid:nth-child(2n+2) {
    padding-right: 0;
  }
}
@media (max-width: 390px) {
  .gallery .grid {
    width: 100%;
    padding-bottom: 5%;
  }
}
.gallery a {
  position: relative;
  display: block;
 
}
.gallery a img {
  width: 100%;
  height: 170px;
  display: block;
  min-height: 100%;

}
.gallery a span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: black;
  color: white;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.gallery a:hover span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}





















